@import './variable';

@font-face {
  font-family: $baseFont;
  src: url('./fonts/Gotham\ Book.otf') format('opentype');
}

html {
  font-size: $font-base-rem;
}

body {
  font-family: $baseFont;
  font-weight: $font-base-weight;
  font-size: $font-size-base;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $baseFont;
  font-weight: $font-header-weight;
  line-height: $font-variable-line-height;
  overflow-wrap: break-word;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p {
  font-size: $font-size-base;
}

/* Height */

.vh-80 {
  height: 80vh;
}

/* Backgrounds */
.bg-primary {
  background-color: $primaryBrandColor;
}

.bg-secondary {
  background-color: $secondaryBrandColor;
}

.navbar {
  background-color: $navBarColor;
}

.navbar-brand {
  object-fit: cover;
}

.nav-item, .nav-link{
  color: $light;
  

  :hover{
    color: $secondaryBrandColor;
  }
}


/* Text */

.text-primary {
  color: $primaryBrandColor;
}

.text-secondary {
  color: $secondaryBrandColor;
}

.caption {
  font-size: $font-size-caption;
}

.font-tiny {
  font-size: $font-size-tiny;
}

.bank-name {
  color: $primaryBrandColor;
}

.bank-slogan {
  color: $secondaryBrandColor;
}

/* Buttons */

.cancelBtn {
  background-color: white;
  color: $dark;
  border: 0px solid $primaryBrandColor;
  padding: 0.5rem 1rem;
  width: 50%;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $light;
    color: $danger;
  }
}

.defaultBtn {
  background-color: $primaryBrandColor;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  width: 50%;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover:enabled {
    background-color: $hoverColor;
    color: #ffffff;
  }

  &.disabled {
    background-color: $disabledColor;
    cursor: not-allowed;
  }

  background-color: $primaryBrandColor;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  width: 50%;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover:enabled {
    background-color: $hoverColor;
    color: #ffffff;
  }
}

.mfaBtn {
  color: $primaryBrandColor;
  border-color: $primaryBrandColor;
  transition: background-color 0.3s;

  @media (min-width: 320px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 40%;
  }

  &:hover {
    background-color: $hoverColor;
    color: #ffffff;
  }
}

.seePasswordBtn {
  cursor: pointer;
  background-color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primaryBrandColor;
  opacity: 50%;
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}

/* Images */

.bank-logo {
  width: 35%;
}

.bank-navbar {
  width: 6%;
}

.bank-sidebar {
  width: 60%;

}

/* Misc */

.cursor-pointer {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  border-radius: 10px;
  min-width: 600px;
  min-height: 300px;
}

.popup-content {
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content button {
  margin-top: 10px;
}

.button-container {
  margin-top: 15px;
}

.passwordDesign {
  background-image: url('https://images.unsplash.com/photo-1505273471770-de630b5d5c5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');

  @media (min-width: 320px) {
    font-size: calc(0.5em + 0.5vw);
  }

  @media (min-width: 766px) {
    font-size: calc(0.4em + 0.5vw);
    background-size: cover;
  }

  @media (min-width: 2040px) {
    font-size: calc(0.4em + 0.5vw);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .heightDesign {
    height: 100vh;
    background-color: #ffffff;
  }

  .boxInput {
    background-color: #ffffff;
  }

  .notification {
    height: 80px;
    /* Adjust the height as needed */
    overflow: hidden;
  }
}

/* Hamburger Menu */
.sidebar-container {
  position: fixed;
  top: 0;
  left: -300px;
  /* Start off-screen */
  width: 300px;
  height: 100%;
  background-color: whitesmoke;
  transition: 0.3s ease;
  overflow-y: auto;
}

.sidebar {
  padding: 20px;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar li:hover {
  background-color: #eee;
  /* Use a darker color here */
  border-radius: 10px;
}

.nav-link {
  padding: 10px;
  transition: background-color 0.3s ease;
  /* Add a transition effect for a smoother hover */
}

.nav-link-sideBar{
  padding: 10px;
  color:$primaryBrandColor;
  transition: background-color 0.3s ease;
  :hover{
    color: $secondaryBrandColor;
  }
}

.open {
  left: 0;
  /* Slide in when open */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: $primaryBrandColor;
  font-size: 24px;
  cursor: pointer;
}

/* Table */

.table-header {
  color: $primaryBrandColor;
  font-weight: bolder;
}

.card-header {
  background-color: $primaryBrandColor;
  font-weight: bolder;
  color: $light;
}

.card-success {
  background-color: $success;
  font-weight: bolder;
  color: $light;
}


.nav-default {
  font-size: 16px;
  background-color: #ffffff;
  padding: 20px;
}

.drag-drop-wrapper{
  border: 1px solid;
}

.drag-drop-disabled{
  display: none;
}

